.main-content {
  display: flex;
}

.main-content__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: .5s;
  min-width: 0;
}

.main-content__inner-active {
  margin-left: 250px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
